/* TIPOGRAFÍA "Montserrat" detalles a tener en cuenta 
    <weight>: Use a value from 100 to 900
*/

/* VARIABLES */

:root { /*es para no tener que escribir los códigos de color en cada propiedad*/
    --AZUL_OSCURO: #0a3768;
    --AZUL_CLARO: #165bba;
    --VERDE_AGUA: #38b5a9;
    --DEGRADADO: linear-gradient(90deg, var(--VERDE_AGUA), var(--AZUL_CLARO));
    --DEGRADADOREVES: linear-gradient(90deg, var(--AZUL_CLARO), var(--VERDE_AGUA));
}

/* ¿Cómo usar estas variables? Dejo un ejemplo: 

h1 {
    color: var(--AZUL_OSCURO);
}
*/


/*PROPIEDADES GENERALES*/

.boton{
    padding: 10px 23px;
    border-radius: 25px 0 25px 0;
    text-decoration: none;
    font-size: 18px;
    font-weight: 550;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

h3{
    font-size: 40px;
    color: var(--AZUL_OSCURO);
    margin-bottom: 0;
}

.sombra{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

/* Header - menu de navegación */


header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    margin: 0;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    background: white;
}

header .logo {
    width: 20%;
    height: 60px;
    background-image: url('/public/img/logo-header.png');
    background-size: contain;
    background-repeat: no-repeat;
}

header nav {
    width: 55%;
    display: flex;
    justify-content: center;
}

header nav ul{
    display: flex;
    list-style: none;
    padding: 0;
    gap: 15px;
}


header nav ul li a {
    width: 3%;
    position: relative;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    color: var(--AZUL_OSCURO);
    cursor: pointer;
    padding: 5px 10px;
    transition: color 0.3s ease-in-out; /* Para suavizar la transición del color */
}

header nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--AZUL_CLARO);
    transition: width 0.3s ease-in-out; /* Suaviza la animación del subrayado */
}

header nav ul li a:hover::after {
    width: 100%; /* Expande el subrayado de izquierda a derecha */
}

header nav ul li a:hover {
    color: var(--AZUL_CLARO);
}


.menu-pedir-turno {
    color: white;
    margin-right: 50px;
    width: 110px;
    background: var(--AZUL_CLARO); /* degradado del header */
    transition: all .9s;
}

header .menu-pedir-turno:hover {
    background: var(--VERDE_AGUA); /* degradado del header */
}

header.menu-pedir-turno a {
    color: white;
    text-decoration: none;
}



/* INICIO - CARRUSEL DE BIENVENIDA ----- */

.bienvenida {
    height: 700px;
    background: var(--DEGRADADO); /* Color de fondo para que se note la forma */
    position: relative;
    border-radius: 0 0 100% 100% / 0 0 100px 100px;
}

.carrusel-bienvenida {
    height: 100%;
}

.carrusel-bienvenida .swiper-wrapper {
    height: 100%;
    width: 100%;
    align-items: center;
}

.carrusel-bienvenida .swiper-wrapper .swiper-slide img{
    height: auto;
    object-fit: cover;
    width: 100%;
}


/* propiedades para la primer slide */
.carrusel-bienvenida .swiper-wrapper .slide-texto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.carrusel-bienvenida .swiper-wrapper .slide-texto .carrusel-bienvenida-texto {
    width: 50%;
    height: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    height: 100%;
}

.carrusel-bienvenida .swiper-wrapper .slide-texto img {
    width: 30%;
    max-width: 500px;
}


/* para mostrar el texto solo en la primera imagen al cargar */
.swiper-slide-active .carrusel-bienvenida-texto {
    display: block;
}

.carrusel-bienvenida .carrusel-bienvenida-texto h2 {
    font-size: 40px;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.carrusel-bienvenida .carrusel-bienvenida-texto .horario-atencion { /*para que el ícono del reloj quede al lado del texto de horarios*/
    display: flex;
    align-items: center;
    gap: 8px;
}

.carrusel-bienvenida .carrusel-bienvenida-texto .horario-atencion p{
    margin: 0;
}

.carrusel-bienvenida .carrusel-bienvenida-texto a{
    background: white;
    color: var(--AZUL_OSCURO);
    width: 150px;
    margin-top: 5%;
    transition: all .5s;
}

.carrusel-bienvenida .carrusel-bienvenida-texto a:hover{
    background-color: var(--AZUL_OSCURO);
    color: white;
}


/*cambio el color de las flechas de paginación del swiper*/
.swiper-button-next, .swiper-button-prev{
    color: white  !important;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.3) !important;
    margin: 0 20px;
}

.swiper-button-next:hover, .swiper-button-prev:hover{
    color: var(--AZUL_OSCURO)  !important;
}


/*INICIO - SECCIÓN NOSOTROS ---------------*/

.seccion-nosotros{
    margin-top: 150px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.seccion-nosotros .nosotros-foto{
    background-image: url('/public/img/nosotros-fotos.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 50%;
    height: 500px;
}

.seccion-nosotros-textos{
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.seccion-nosotros .nosotros-textos a{
    background: var(--DEGRADADO);
    color: white;
    width: 160px;
    margin-top: 35px;
    transition: all .5s;
}

.seccion-nosotros .nosotros-textos a:hover{
    background: var(--AZUL_OSCURO);
}


/*SECCIÓN SERVICIOS ----------------------------------------------*/

.servicios{
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

.servicios .servicios-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.servicios .servicios-container article{
    flex: 1 1 calc(25% - 20px); /* Cada artículo ocupa el 25% del ancho menos el espacio del gap */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicios .servicios-container article h5{
    font-size: 20px;
    margin-bottom: 40px;
    color: var(--AZUL_OSCURO);
}

.servicios .servicios-container article div{
    border-radius: 25px 0;
    width: 130px;
    height: 100px;
    align-content: center;
}

.servicios .servicios-container article div i{
    font-size: 40px;
    color: white;
}

.servicios .servicios-container article .serv-1{
    background: #64e9dc;
}
.servicios .servicios-container article .serv-2{
    background: var(--VERDE_AGUA);
}
.servicios .servicios-container article .serv-3{
    background: var(--AZUL_CLARO);
}
.servicios .servicios-container article .serv-4{
    background: var(--AZUL_OSCURO);
}




/*INICIO - SECCIÓN PROFESIONALES*/


.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

/* NOSOTROS.EJS */
.nosotros {
    padding: 20px;
}

.container-imagen {
    position: relative;
    background-color: #e0e0e0; 
    padding: 20px;
    border-radius: 10px; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px; 
    height: 300px;
    text-align: left;
}

.container-imagen h1, .container-imagen p {
    position: relative; 
    z-index: 2; /*le ponemos un index mayor al de la img para que quede arriba*/ 
    color: var(--AZUL_OSCURO); 
}

.container-imagen img {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    z-index: 1; 
}

.container-proceso {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    position: relative;
}

.item-proceso {
    width: 130px;
    height: 130px;
    background-color: #02366f;
    border: 2px solid #02366f; /* borde para que el cuadrado sea visible */
    border-radius: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    position: absolute;
    color: #c2c2c2;
    z-index: 1;
    transition: background-color 0.5s, border-color 0.5s;

}

.item-proceso:hover {
    background-color:var(--VERDE_AGUA);
    border-color: var(--VERDE_AGUA);
    transition: .5s;
    cursor: pointer;
}

.item-proceso i {
    font-size: 30px;
    color: white;
}

.info-proceso {
    height: auto;
    width: 450px;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    z-index: 2; /*para que el cuadro de info esté arriba de los iconos*/
}
.info-proceso p {
    font-weight: 300;
    margin-top: 5px;
}

.info-proceso h3 {
    font-size: 20px;
    margin-top: 5px;
    color: white;
}

.info-1 {
    background: var(--DEGRADADO);
    position: absolute;
    left: -180%;
    transform: translateX(80%);
    bottom: 5%;
}

.info-2 {
    background: var(--DEGRADADO);
    position: absolute;
    left:-180%;
    transform: translateX(80%);
}

.info-3 {
    background: var(--DEGRADADOREVES);
    position: absolute;
    left: -80%;
    transform: translateX(-80%);
}

.info-4 {
    background: var(--DEGRADADOREVES);
    position: absolute;
    left: -80%;
    transform: translateX(-80%);
}


.item-proceso:hover .info-proceso {
    opacity: 1;
    visibility: visible;
}

/* Posicionar los elementos en forma de círculo */
.item-proceso:nth-child(1) { 
    top: calc(50% - 200px); 
    left: 50%;
    transform: translate(-50%, 0); 
}

.item-proceso:nth-child(2) { 
    top: calc(80% - 150px); 
    left: calc(45% + 250px); 
    transform: translate(-50%, -50%); 
}

.item-proceso:nth-child(3) { 
    bottom: calc(50% - 150px);
    left: 50%;
    transform: translate(-50%, 50%); 
}

.item-proceso:nth-child(4) { 
    top: calc(80% - 150px); 
    left: calc(55% - 250px); 
    transform: translate(-50%, -50%); 
}

/*logo en el centro de los elementos*/
.imagen-centro {
    position: absolute;
    width: 100px; 
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 0;

}

.imagen-centro img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

/* ESQUEMA IMÁGENES*/
.container-img {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
    gap: 8px;
    height: 400px;
}

/*ESTILOS IMÁGENES */
.container-img div {
    height: 50%;
}

.img1, .img4 {
    width: 60%;
}

.img2, .img3 {
    width: 38%;
}

.container-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

/*MAPA*/ 
.container-mapa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--VERDE_AGUA);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 900px;
    margin: 50px auto;
}

.container-mapa iframe {
    flex:1;
    max-width: 60%;
    height: 300px;
    border: none;
}

.container-info {
    flex:1;
    padding-left: 20px;
    color: var(--AZUL_OSCURO);
}

/*PEDIRTURNO.EJS*/
.pedir-turno h1 {
    text-align: center;
    margin-top: 20px;
    font-weight: 700;
    color: white;
    background: var(--DEGRADADO);
}

.container-filtros {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 30px;
    background-color: var(--VERDE_AGUA);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap:20px;
    height:300px;
    font-family: 'Montserrat', sans-serif;
}

.filtros {
    display: flex;
    flex-direction: column;
    flex:1;
    margin-top:-10px;
}

label {
    font-weight: 600;
    font-size: 18px;
    color: #2c3e50;
    text-align: center;
}


.filtros select, 
.filtros input[type="date"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    box-shadow: inset 0 1px 3px var(--AZUL_OSCURO);
    transition: border-color 0.3s;
    width: 100%;
    box-sizing: border-box;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
}

select:focus, input[type="date"]:focus {
    border-color: #3498db;
    outline: none;
}

.btn-enviar {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: var(--AZUL_CLARO); 
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px; 
    font-family: 'Montserrat', sans-serif;
    font-weight:600;
}

.btn-enviar:hover {
    background-color: var(--AZUL_OSCURO); 
}

option {
    font-size: 16px;
}

/*Contacto.ejs*/
.carrusel-contacto {
    position: relative;
    background-color: #e0e0e0; 
    padding: 20px;
    border-radius: 10px; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px; 
    height: 300px;
    text-align: left;
}

.carrusel-contacto h1, .carrusel-contacto p {
    position: relative; 
    z-index: 2; /*le ponemos un index mayor al de la img para que quede arriba*/ 
    color: var(--AZUL_OSCURO); 
}

.carrusel-contacto img {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    z-index: 1; 
}

/*formulario de contacto */
.contacto {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: var(--DEGRADADO);
    border-radius: 10px;
    margin-top: 120px;
}

.contacto h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
    font-size: 30px;
    font-weight: 500;
}

.form-contacto {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.campos-contacto {
    display: flex;
    gap: 30px;
}

.campo-datos {
    flex: 1;
}

.campo-datos label {
    display: block;
    margin-bottom: 5px;
    color: var(--AZUL_OSCURO);
}

.campo-datos input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.campo-grande label {
    display: block;
    margin-bottom: 5px;
    color: var(--AZUL_OSCURO);
}

.campo-grande textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.boton-enviar {
    display: flex;
    justify-content: center;
    
}

.boton-enviar button {
    padding: 10px 20px;
    background-color: var(--VERDE_AGUA);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
    
.boton-enviar button:hover {
    background-color: #0056b3;
}

/*segundo container*/

.form-turno {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 40px; 
    margin-bottom: 40px;
    height: 200px; 
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    z-index: 1;
}

.container-reserva {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 10px; 
    margin-top: 30px;
    width: 50%;
    border: 2px solid var(--AZUL_OSCURO);
    border-radius: 10px;
    height: 150px;
    padding: 20px;
    
}

.container-reserva h2 {
    margin: 0;
    font-size: 25px;
    font-weight: 500;
    color: var(--AZUL_OSCURO);
    
}

.boton-turno {
    margin-top: 30px;
    padding: 15px 30px;
    background-color: var(--AZUL_CLARO);
    border: none;
    border-radius: 25px 0 25px 0;
    cursor: pointer;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.boton-turno:hover {
    background-color: var(--AZUL_OSCURO);
}

.container-turno {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    border: 2px solid var(--AZUL_OSCURO);
    border-radius: 10px;
    height:150px;
    width: 400px;
    margin-top: 30px;
    padding: 20px;
    
}

.container-turno h3 {
    font-size: 25px;
    font-weight: 500;
    margin-right: 0px;
    margin-top: 0px;
    color: var(--AZUL_OSCURO);
}

.iconos-redes-contacto {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    margin-top: 10px;
}


.iconos-container {
    display: flex;
    gap: 30px; 
    margin-top: 15px;
}

.icono-red-contacto {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 25px 0 25px 0;
    background: var(--DEGRADADO);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
}


.icono-red-contacto:hover {
    color: var(--AZUL_OSCURO);
}

.icono-red-contacto i {
    font-size: 25px;
}


/*FOOTER*/
footer {
    background: var(--DEGRADADO);
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    flex-direction: column;
    border-radius: 0 0 100% 100% / 100px 100px 0 0;
}

footer .container-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
}

footer .logo-redes {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

footer .logo-footer {
    padding-left: 140px;
    height: 140px;
}


footer .container-footer .logo-footer img {
    width: 150px; 
}

footer .redes-footer {
    width: 30%;
   /* margin-top: 10px; */
    text-align: left;
    padding-left: 160px;
}

footer .redes-footer h3 {
    margin-bottom: 5px;
}

footer .iconos-redes {
    display: flex;
    gap:10px;
    justify-content: flex-start;
}

footer .icono-red {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 35px;
    border-radius: 30px;
    background-color: var(--AZUL_OSCURO);
    color: white;
    text-decoration: none;
    font-size: 25px;
}

footer .icono-red:hover {
    background-color: var(--VERDE_AGUA);
}

footer .info-general {
    width: 30%;
    padding-right: 50px;
}

footer .info-general p {
    color:white;
    font-size: 14px;
}


footer .info-general p:hover {
    cursor: pointer;
}

footer .titulo-footer {
    color: white;
    border-bottom: 2px solid white;
    padding-bottom: 5px;
    font-size: 18px;
    margin-top: 35px;
}

footer .contacto-footer {
    width: 30%;
    padding-right: 50px;
}

footer .contacto-footer p {
    color: white;
    font-size: 14px;
}

footer .contacto-footer p:hover {
    cursor: pointer;
    color: var(--AZUL_OSCURO);
}

footer .contacto-footer .link-contacto {
    color:white;
    text-decoration:none; /*porque por defecto el link se subraya*/
    display: flex;
    align-items: center;
}

footer .contacto-footer .link-contacto:hover {
    color: var(--AZUL_OSCURO);
}

footer .contacto-footer .link-contacto i {
    margin-right: 8px;
}
