/* TIPOGRAFÍA "Montserrat" detalles a tener en cuenta 
    <weight>: Use a value from 100 to 900
*/

/* VARIABLES */

:root { /*es para no tener que escribir los códigos de color en cada propiedad*/
    --AZUL_OSCURO: #0a3768;
    --AZUL_CLARO: #165bba;
    --VERDE_AGUA: #38b5a9;
    --DEGRADADO: linear-gradient(90deg, var(--VERDE_AGUA), var(--AZUL_CLARO));
    --DEGRADADOREVES: linear-gradient(90deg, var(--AZUL_CLARO), var(--VERDE_AGUA));
}

/* ¿Cómo usar estas variables? Dejo un ejemplo: 

h1 {
    color: var(--AZUL_OSCURO);
}
*/


/*PROPIEDADES GENERALES*/

.boton{
    padding: 10px 23px;
    border-radius: 25px 0 25px 0;
    text-decoration: none;
    font-size: 18px;
    font-weight: 550;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

h3{
    font-size: 2.5em;
    color: var(--AZUL_OSCURO);
    margin-bottom: 0;
}

.sombra{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

/* Header - menu de navegación */


header {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    margin: 0;
    position: fixed; /* Cambia a fixed para que se mantenga en la parte superior */
    top: 0;
    left: 0;
    z-index: 1000;
    background: white; /* Fondo original */
    transition: top 0.3s; /* Suaviza la transición del top */
}

/* Si quieres ocultar el header */
.hidden {
    top: -100px; /* Oculta el header fuera de la vista */
}

header .logo {
    width: 20%;
    height: 55px;
    background-image: url('/public/img/logo-header.png');
    background-size: contain;
    background-repeat: no-repeat;
}

header nav {
    width: 55%;
    display: flex;
    justify-content: center;
}

header nav ul{
    display: flex;
    list-style: none;
    padding: 0;
    gap: 15px;
}


header nav ul li a {
    width: 3%;
    position: relative;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: var(--AZUL_OSCURO);
    cursor: pointer;
    padding: 5px 10px;
    transition: color 0.3s ease-in-out; /* Para suavizar la transición del color */
}

header nav ul li a.active::after {
    width: 100%; /* Mantiene la línea activa al ancho del enlace */
}

header nav ul li a.active {
    color: var(--AZUL_CLARO); /* Cambia el color del enlace activo */
}

header nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--AZUL_CLARO);
    transition: width 0.3s ease-in-out; /* Suaviza la animación del subrayado */
}

header nav ul li a:hover::after {
    width: 100%; /* Expande el subrayado de izquierda a derecha */
}

header nav ul li a:hover {
    color: var(--AZUL_CLARO);
}



.menu-pedir-turno {
    color: white;
    margin-right: 50px;
    width: 7%;
    background: var(--DEGRADADO); /* degradado del header */
    transition: all .9s;
    color: white;
    text-decoration: none;
    font-size: 16px;
}

header .menu-pedir-turno:hover {
    background: var(--VERDE_AGUA); /* degradado del header */
}



/* INICIO - CARRUSEL DE BIENVENIDA ----- */

.bienvenida {
    padding-top: 40px;
    height: 700px;
    background: var(--DEGRADADO); /* Color de fondo para que se note la forma */
    position: relative;
    border-radius: 0 0 100% 100% / 0 0 100px 100px;
}

.carrusel-bienvenida {
    height: 100%;
}

.carrusel-bienvenida .swiper-wrapper {
    height: 100%;
    width: 100%;
    align-items: center;
}

.carrusel-bienvenida .swiper-wrapper .swiper-slide img{
    height: auto;
    object-fit: cover;
    width: 100%;
}


/* propiedades para la primer slide */
.carrusel-bienvenida .swiper-wrapper .slide-texto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.carrusel-bienvenida .swiper-wrapper .slide-texto .carrusel-bienvenida-texto {
    width: 50%;
    height: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    height: 100%;
}

.carrusel-bienvenida .swiper-wrapper .slide-texto img {
    width: 30%;
    max-width: 500px;
}


/* para mostrar el texto solo en la primera imagen al cargar */
.swiper-slide-active .carrusel-bienvenida-texto {
    display: block;
}

.carrusel-bienvenida .carrusel-bienvenida-texto h2 {
    font-size: 40px;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-bottom: 0;
}

.carrusel-bienvenida .carrusel-bienvenida-texto .horario-atencion { /*para que el ícono del reloj quede al lado del texto de horarios*/
    display: flex;
    align-items: center;
    gap: 8px;
}

.carrusel-bienvenida .carrusel-bienvenida-texto .bienvenida-encontranos{
    margin-bottom: 8px;
}
.carrusel-bienvenida .carrusel-bienvenida-texto .horario-atencion p{
    margin: 0;
}

.carrusel-bienvenida .carrusel-bienvenida-texto a{
    background: white;
    color: var(--AZUL_OSCURO);
    width: max-content;
    margin-top: 10%;
    transition: all .5s;
    font-size: 27px ;
}

.carrusel-bienvenida .carrusel-bienvenida-texto a:hover{
    background-color: var(--AZUL_OSCURO);
    color: white;
}


/*cambio el color de las flechas de paginación del swiper*/
.swiper-button-next, .swiper-button-prev{
    color: white  !important;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.3) !important;
    margin: 0 20px;
}

.swiper-button-next:hover, .swiper-button-prev:hover{
    color: var(--AZUL_OSCURO)  !important;
}


/*INICIO - SECCIÓN NOSOTROS ---------------*/

.seccion-nosotros{
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.seccion-nosotros .nosotros-foto{
    background-image: url('/public/img/nosotros-fotos.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 50%;
    height: 500px;
}

.seccion-nosotros .nosotros-textos{
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 50%;
}

.seccion-nosotros .nosotros-textos a{
    background: var(--DEGRADADO);
    color: white;
    width: 160px;
    margin-top: 35px;
    transition: all .5s;
}

.seccion-nosotros .nosotros-textos a:hover{
    background: var(--AZUL_OSCURO);
}


/*SECCIÓN SERVICIOS ----------------------------------------------*/

.seccion-servicios{
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

.seccion-servicios .servicios-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.seccion-servicios .servicios-container article{
    flex: 1 1 calc(25% - 20px); /* Cada artículo ocupa el 25% del ancho menos el espacio del gap */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seccion-servicios .servicios-container article h5{
    font-size: 20px;
    margin-bottom: 40px;
    color: var(--AZUL_OSCURO);
}

.seccion-servicios .servicios-container article div{
    border-radius: 25px 0;
    width: 130px;
    height: 100px;
    align-content: center;
}

.seccion-servicios .servicios-container article div i{
    font-size: 40px;
    color: white;
}

.seccion-servicios .servicios-container article .serv-1{
    background: #64e9dc;
}
.seccion-servicios .servicios-container article .serv-2{
    background: var(--VERDE_AGUA);
}
.seccion-servicios .servicios-container article .serv-3{
    background: var(--AZUL_CLARO);
}
.seccion-servicios .servicios-container article .serv-4{
    background: var(--AZUL_OSCURO);
}




/*INICIO - SECCIÓN PROFESIONALES*/

.seccion-profesionales {
    padding: 10px 0 60px 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    height: auto;
    background: var(--DEGRADADO);
    align-items: center;
    margin-top: 60px;
}

.seccion-profesionales h3 {
    color: white;
    margin-top: 50px;
    font-weight: 600;
}

.carrusel-medicos {
    width: 90%; 
    height: 610px;
}

.carrusel-medicos .swiper-wrapper {
    display: flex; 
    align-items: center;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    margin: 0 5px; /* Margen horizontal entre las tarjetas */
}

.medico-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 550px; 
    width: 400px;
}

.medico-card .contenedor-img {
    width: 95%;
    height: 75%; 
    margin-bottom: 15px;
    border: 4px solid var(--VERDE_AGUA);
    border-radius: 2em 0;
}

.medico-card .contenedor-img img {
    object-fit: contain; 
    width: 95%; 
    height: 100%; 
}

.medico-card h4 {
    font-size: 1.8em; 
    margin: 4px 0;
    color: white;
    font-weight: 600;
}

.medico-card p {
    font-size: 1em; /* Tamaño de fuente ajustado */
    color: white;
    margin: 0 0 20px 0; /* Espaciado inferior ajustado */
}

.medico-card a {
    width: 30%;
    display: inline-block;
    padding: 8px 15px; /* Tamaño del botón ajustado */
    background-color: var(--VERDE_AGUA);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: all .3s;
    text-align: center;
}

.medico-card a:hover {
    background-color: var(--AZUL_CLARO);
}

/* Estilos para las tarjetas laterales */
.swiper-slide:not(.swiper-slide-active) .medico-card {
    transform: scale(0.8);
    filter: blur(2px);
    opacity: 0.6;
}


.carrusel-medicos .swiper-button-next,
.carrusel-medicos .swiper-button-prev {
    color: #007bff;
}

.carrusel-medicos .swiper-pagination {
    bottom: 10px !important;
}

.swiper-pagination-bullet {
    background: #007bff;
    opacity: 0.7;
}

.swiper-pagination-bullet-active {
    background: #0056b3;
    opacity: 1;
}


/*Inicio - pedir turno*/

.inicio-pedir-turno{
    background: url('/public/img/centromedico.jpg');
    width: 100%;
    height: 300px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}


.inicio-pedir-turno div{
    width: 50%;
    height: auto;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.inicio-pedir-turno div h4{
    margin: 0;
    font-size: 2em;
    color: var(--AZUL_OSCURO);
}

.inicio-pedir-turno div a{
    width: max-content;
    background-color: var(--AZUL_CLARO);
    color: white;
    transition: all .3s;
}

.inicio-pedir-turno div a:hover{
    background-color: var(--VERDE_AGUA);
}


/*INICIO - Novedades*/

.seccion-novedades {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-bottom: 40px;
}

.seccion-novedades .tarjetas {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
}

.seccion-novedades .tarjetas .tarjeta {
    background-color: #fff; 
    border-radius: 8px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    width: 30%; 
    height: 450px;
    margin: 10px; 
}

.seccion-novedades .tarjetas .tarjeta img {
    width: 100%; /* Imagen al 100% del ancho de la tarjeta */
    height: 56%; 
}

.seccion-novedades .tarjetas .tarjeta .contenido-noticia {
    padding: 15px; /* Espaciado interno */
}

.seccion-novedades .tarjetas .tarjeta .contenido-noticia .fecha {
    color: #666; /* Color de texto para la fecha */
    font-size: 14px; /* Tamaño de fuente */
    margin-bottom: 10px; /* Margen inferior */
}

.seccion-novedades .tarjetas .tarjeta .contenido-noticia p{
    color: #333;
}

/* ---------------------------------- NOSOTROS.EJS ------------------------------*/
.nosotros {
    padding: 80px 20px 20px 20px;
}

.container-imagen {
    position: relative;
    background-color: #e0e0e0; 
    padding: 20px;
    border-radius: 10px; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px; 
    height: 300px;
    text-align: left;
}

.container-imagen h1, .container-imagen p {
    position: relative; 
    z-index: 2; /*le ponemos un index mayor al de la img para que quede arriba*/ 
    color: var(--AZUL_OSCURO); 
}

.container-imagen img {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    z-index: 1; 
}

.container-proceso {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    position: relative;
}

.item-proceso {
    width: 130px;
    height: 130px;
    background-color: #02366f;
    border: 2px solid #02366f; /* borde para que el cuadrado sea visible */
    border-radius: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    position: absolute;
    color: #c2c2c2;
    z-index: 1;
    transition: background-color 0.5s, border-color 0.5s;

}

.item-proceso:hover {
    background-color:var(--VERDE_AGUA);
    border-color: var(--VERDE_AGUA);
    transition: .5s;
    cursor: pointer;
}

.item-proceso i {
    font-size: 30px;
    color: white;
}

.info-proceso {
    height: auto;
    width: 450px;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    z-index: 2; /*para que el cuadro de info esté arriba de los iconos*/
}
.info-proceso p {
    font-weight: 300;
    margin-top: 5px;
}

.info-proceso h3 {
    font-size: 20px;
    margin-top: 5px;
    color: white;
}

.info-1 {
    background: var(--DEGRADADO);
    position: absolute;
    left: -180%;
    transform: translateX(80%);
    bottom: 5%;
}

.info-2 {
    background: var(--DEGRADADO);
    position: absolute;
    left:-180%;
    transform: translateX(80%);
}

.info-3 {
    background: var(--DEGRADADOREVES);
    position: absolute;
    left: -80%;
    transform: translateX(-80%);
}

.info-4 {
    background: var(--DEGRADADOREVES);
    position: absolute;
    left: -80%;
    transform: translateX(-80%);
}


.item-proceso:hover .info-proceso {
    opacity: 1;
    visibility: visible;
}

/* Posicionar los elementos en forma de círculo */
.item-proceso:nth-child(1) { 
    top: calc(50% - 200px); 
    left: 50%;
    transform: translate(-50%, 0); 
}

.item-proceso:nth-child(2) { 
    top: calc(80% - 150px); 
    left: calc(45% + 250px); 
    transform: translate(-50%, -50%); 
}

.item-proceso:nth-child(3) { 
    bottom: calc(50% - 150px);
    left: 50%;
    transform: translate(-50%, 50%); 
}

.item-proceso:nth-child(4) { 
    top: calc(80% - 150px); 
    left: calc(55% - 250px); 
    transform: translate(-50%, -50%); 
}

/*logo en el centro de los elementos*/
.imagen-centro {
    position: absolute;
    width: 100px; 
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 0;

}

.imagen-centro img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

/* ESQUEMA IMÁGENES*/
.container-img {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
    gap: 8px;
    height: 400px;
}

/*ESTILOS IMÁGENES */
.container-img div {
    height: 50%;
}

.img1, .img4 {
    width: 60%;
}

.img2, .img3 {
    width: 38%;
}

.container-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

/*MAPA*/ 
.container-mapa {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--VERDE_AGUA);
    padding: 20px;
    border-radius: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 80%;
    margin: 30px auto;
    gap: 100px;
}

.container-mapa iframe {
    flex:1;
    max-width: 60%;
    height: 400px;
    border: none;
}

.container-info {
    flex:1;
    padding-left: 20px;
    color: var(--AZUL_OSCURO);
    width: 40%;
    display: flex;
    justify-content: right;
    flex-direction: column;
    gap: 1em;
}

.container-info .item-info{
    display: flex;
    gap: 1.2em;
    align-items: center;
}

.container-info .item-info i{
    font-size: 20px;
    background-color: var(--AZUL_OSCURO);
    padding: 13px;
    border-radius: 10px 0;
    color: white;
    font-weight: 300 !important;
    width: 1em;
    text-align: center;
}

/*PEDIRTURNO.EJS*/
.pedir-turno h1 {
    text-align: center;
    margin-top: 20px;
    font-weight: 700;
    color: white;
    background: var(--DEGRADADO);
}

.container-filtros {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 30px;
    background-color: var(--VERDE_AGUA);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap:20px;
    height:300px;
    font-family: 'Montserrat', sans-serif;
}

.filtros {
    display: flex;
    flex-direction: column;
    flex:1;
    margin-top:-10px;
}

label {
    font-weight: 600;
    font-size: 18px;
    color: #2c3e50;
    text-align: center;
}


.filtros select, 
.filtros input[type="date"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    box-shadow: inset 0 1px 3px var(--AZUL_OSCURO);
    transition: border-color 0.3s;
    width: 100%;
    box-sizing: border-box;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
}

select:focus, input[type="date"]:focus {
    border-color: #3498db;
    outline: none;
}

.btn-enviar {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: var(--AZUL_CLARO); 
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px; 
    font-family: 'Montserrat', sans-serif;
    font-weight:600;
}

.btn-enviar:hover {
    background-color: var(--AZUL_OSCURO); 
}

option {
    font-size: 16px;
}

/*Contacto.ejs*/
.carrusel-contacto {
    position: relative;
    background-color: #e0e0e0; 
    padding: 20px;
    border-radius: 10px; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px; 
    height: 300px;
    text-align: left;
}

.carrusel-contacto h1, .carrusel-contacto p {
    position: relative; 
    z-index: 2; /*le ponemos un index mayor al de la img para que quede arriba*/ 
    color: var(--AZUL_OSCURO); 
}

.carrusel-contacto img {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    z-index: 1; 
}

/*formulario de contacto */
.contacto {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: var(--DEGRADADO);
    border-radius: 10px;
    margin-top: 120px;
}

.contacto h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
    font-size: 30px;
    font-weight: 500;
}

.form-contacto {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.campos-contacto {
    display: flex;
    gap: 30px;
}

.campo-datos {
    flex: 1;
}

.campo-datos label {
    display: block;
    margin-bottom: 5px;
    color: var(--AZUL_OSCURO);
}

.campo-datos input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.campo-grande label {
    display: block;
    margin-bottom: 5px;
    color: var(--AZUL_OSCURO);
}

.campo-grande textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.boton-enviar {
    display: flex;
    justify-content: center;
    
}

.boton-enviar button {
    padding: 10px 20px;
    background-color: var(--VERDE_AGUA);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
    
.boton-enviar button:hover {
    background-color: #0056b3;
}

/*segundo container*/

.form-turno {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 40px; 
    margin-bottom: 40px;
    height: 200px; 
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    z-index: 1;
}

.container-reserva {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 10px; 
    margin-top: 30px;
    width: 50%;
    border: 2px solid var(--AZUL_OSCURO);
    border-radius: 10px;
    height: 150px;
    padding: 20px;
    
}

.container-reserva h2 {
    margin: 0;
    font-size: 25px;
    font-weight: 500;
    color: var(--AZUL_OSCURO);
    
}

.boton-turno {
    margin-top: 30px;
    padding: 15px 30px;
    background-color: var(--AZUL_CLARO);
    border: none;
    border-radius: 25px 0 25px 0;
    cursor: pointer;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.boton-turno:hover {
    background-color: var(--AZUL_OSCURO);
}

.container-turno {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    border: 2px solid var(--AZUL_OSCURO);
    border-radius: 10px;
    height:150px;
    width: 400px;
    margin-top: 30px;
    padding: 20px;
    
}

.container-turno h3 {
    font-size: 25px;
    font-weight: 500;
    margin-right: 0px;
    margin-top: 0px;
    color: var(--AZUL_OSCURO);
}

.iconos-redes-contacto {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    margin-top: 10px;
}


.iconos-container {
    display: flex;
    gap: 30px; 
    margin-top: 15px;
}

.icono-red-contacto {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 25px 0 25px 0;
    background: var(--DEGRADADO);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
}


.icono-red-contacto:hover {
    color: var(--AZUL_OSCURO);
}

.icono-red-contacto i {
    font-size: 25px;
}

/* --------------------- COBERTURAS.EJS -------------------------------*/

.container-coberturas {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; 
    padding-top: 80px;
}


.container-coberturas h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: var(--AZUL_OSCURO);
    text-align: center;
    margin-top: 60px;
}


.container-coberturas p {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: black;
}


.label-container {
    background-color: #25a09e;
    color: white;
    padding: 15px;
    border-radius: 25px 0 0 0 ;
    border: 2px solid var(--VERDE_AGUA);
    text-align: center;
    width: 100%;
    max-width: 570px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    margin: 0 auto;;
}

.label-container span {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}


.select-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--VERDE_AGUA);
    max-width: 600px; 
    border-radius: 0 0 25px 0;
    margin: 0 auto;
    height: 315px;
}

.select-cobertura {
    width: 100%;
    max-width: 600px; 
}


.select-cobertura select {
    width: 100%;
    font-size: 16px;
    background-color: white; 
    border: none;
    outline: none;
    border-radius: 0 0 25px 0;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
}

.select-cobertura select option {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    padding: 20px;
}

/*tarjetas de medicos*/
.container-medicos {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}
.container-medicos .tarjeta-medico {
    border: 1px solid #ccc; 
    border-radius: 25px 0 25px 0;
    margin: 10px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    text-align: center; 
    width: 250px; 
    background-color: var(--VERDE_AGUA); 
    transition: transform 0.2s; 
    height: 450px;
}

.tarjeta-medico :hover {
    transform: scale(1.05); 
    cursor: pointer;
}

.medico-foto {
    width: 100%; 
    height: 250px; 
    object-fit: cover; 
    border-radius: 10px; 
}

.medico-nombre {
    font-family: 'Montserrat', sans-serif; 
    font-size: 20px; 
    color:white; 
    margin: 0; 
    background-color: var(--AZUL_OSCURO);
    width: 100%;
    display: block;
    padding: 10px 0;
    box-sizing: border-box; /*para que el padding no afecte al ancho del elemento*/
}

.medico-especialidad,
.medico-cobertura,
.medico-horario {
    font-family: 'Montserrat', sans-serif; 
    color: white; 
    font-weight: 200;
    font-size: 15px;
}

.medico-contacto {
    background-color: var(--AZUL_OSCURO);
    font-family: 'Montserrat', sans-serif;
    color: white; 
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;  
}

.medico-contacto:hover {
    background-color: #1e8b7e; 
    cursor: pointer;
}

/*container obras sociales */

.container-obrassociales {
    display: flex;
    flex-direction: column;
    align-items: center;
    height:auto;
    width:1200px;
    margin: 0 auto;
    margin-top: 60px;
}

.container-obrassociales img {
    width: 100%;
}

/*container pedir turno*/

.container-pedirTurno {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height:400px;
    width:1200px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 60px;
}

.container-pedirTurno img {
    width: 100%;
    height: 100%;
    filter: blur(2px);
    border-radius: 10px;
}

.contenido {
    position: absolute;
    height: 150px;
    width: 800px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.contenido h1 {
    color: var(--AZUL_OSCURO);
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}

.boton-pedirTurno {
    background: var(--DEGRADADO);
    color: white;
    border: none;
    padding: 20px 40px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 25px 0 25px 0;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

/*container info y foto del centro*/

.container-datosCentro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
}

.container-datosCentro img {
    width: 45%;
    height: auto;
    border-radius: 10px;
}

.datos-centro {
    width: 50%;
    padding-left: 10px;
    text-align: left;
}

.datos-centro h2 {
    color: var(--AZUL_OSCURO);
    font-size: 28px;
    margin-bottom: 30px;
}

.datos-centro p {
    font-size: 20px;
    margin-bottom: 40px;
    color: var(--AZUL_OSCURO);
    display: flex;
    align-items: center;
}

.datos-centro p i {
    background-color: var(--VERDE_AGUA); 
    padding: 10px; 
    border-radius: 25px 0 25px 0; 
    margin-right: 10px; 
    color: white; 
    font-size: 24px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container-seguinos {
    display: flex;
    align-items: center;
    gap: 20px;
}

.container-seguinos h2 {
    background: var(--DEGRADADO);
    color: white;
    padding: 10px 20px;
    border-radius: 25px 0 25px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin: 0;
    font-weight: 400;
}

.container-seguinos .iconos-redes {
    display: flex;
    gap: 10px;
}

.container-seguinos .icono-red {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    border-radius: 30px;
    color: var(--AZUL_OSCURO);
    text-decoration: none;
    font-size: 30px;
}

/*FOOTER*/
footer {
    background: var(--DEGRADADO);
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    flex-direction: column;
    border-radius: 0 0 100% 100% / 100px 100px 0 0;
}

footer .container-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
}

footer .logo-redes {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

footer .logo-footer {
    padding-left: 140px;
    height: 140px;
}


footer .container-footer .logo-footer img {
    width: 150px; 
}

footer .redes-footer {
    width: 30%;
   /* margin-top: 10px; */
    text-align: left;
    padding-left: 160px;
}

footer .redes-footer h3 {
    margin-bottom: 5px;
}

footer .iconos-redes {
    display: flex;
    gap:10px;
    justify-content: flex-start;
}

footer .icono-red {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 35px;
    border-radius: 30px;
    background-color: var(--AZUL_OSCURO);
    color: white;
    text-decoration: none;
    font-size: 25px;
}

footer .icono-red:hover {
    background-color: var(--VERDE_AGUA);
}

footer .info-general {
    width: 30%;
    padding-right: 50px;
}

footer .info-general p {
    color:white;
    font-size: 14px;
}


footer .info-general p:hover {
    cursor: pointer;
}

footer .titulo-footer {
    color: white;
    border-bottom: 2px solid white;
    padding-bottom: 5px;
    font-size: 18px;
    margin-top: 35px;
}

footer .contacto-footer {
    width: 30%;
    padding-right: 50px;
}

footer .contacto-footer p {
    color: white;
    font-size: 14px;
}

footer .contacto-footer p:hover {
    cursor: pointer;
    color: var(--AZUL_OSCURO);
}

footer .contacto-footer .link-contacto {
    color:white;
    text-decoration:none; /*porque por defecto el link se subraya*/
    display: flex;
    align-items: center;
}

footer .contacto-footer .link-contacto:hover {
    color: var(--AZUL_OSCURO);
}

footer .contacto-footer .link-contacto i {
    margin-right: 8px;
}
