/* VARIABLES */
:root {
    --AZUL_OSCURO: #0a3768;
    --AZUL_CLARO: #165bba;
    --VERDE_AGUA: #38b5a9;
    --DEGRADADO: linear-gradient(90deg, var(--VERDE_AGUA), var(--AZUL_CLARO));
    --DEGRADADOREVES: linear-gradient(90deg, var(--AZUL_CLARO), var(--VERDE_AGUA));
}

/* Estilos preestablecidos */
.sombra {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* ---------------------------- LISTAR HORARIOS -------------------------------------------*/

body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    min-height: 100vh;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="%2338b5a9" fill-opacity="0.1" d="M0,0L120,26.7C240,53,480,107,720,112C960,117,1200,75,1320,53.3L1440,32L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path></svg>');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.contenedor-flex{
    display: flex;
    gap: 1.5em;
    height: 100% !important;
}

.contenedor-listado, .contenedor-agregar, .contenedor-editar{
    flex: 1;
    margin-right: 1%;
}

.contenedor-listado{
    margin-bottom: 2%;
}

.container-listado-horarios {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h1 {
    margin: 0 0 3% 0;
    color: var(--AZUL_OSCURO);
    font-weight: 650;
    font-size: 33px;
}

.container .listado-horarios {
    width: 90%;
    margin: 0;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    align-content: center;
}

.container .listado-horarios table {
    width: 100% !important;
    margin: 0 auto;
}

.container .listado-horarios table thead tr th {
    background-color: var(--VERDE_AGUA);
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.container .listado-horarios table tbody tr td {
    align-content: center;
    color: #626262;
}

.container .listado-horarios table tbody tr .contenedor-id {
    font-weight: 600;
    color: var(--VERDE_AGUA);
    font-size: 20px;
}

.container .btn-editar {
    background-color: var(--AZUL_CLARO);
    transition: all .3s;
}

.container .btn-editar:hover {
    background-color: var(--VERDE_AGUA);
}

.container .btn-eliminar {
    background-color: white;
    border: 1px solid var(--AZUL_CLARO);
    transition: all .3s;
}

.container .btn-eliminar:hover {
    background-color: #bc062d;
    color: white;
}

.container .btn-agregar {
    width: 15em;
    background-color: var(--VERDE_AGUA);
    text-align: center;
    padding: 8px 10px;
    border-radius: 12px 0;
    transition: all .3s;
    cursor: pointer;
}

.container .btn-agregar:hover {
    background-color: var(--AZUL_CLARO);
}

.container .btn-agregar a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 20px;
}

.container .botones{
    display: flex;
    justify-content: center;
    gap: 1em;
    width: 100%;
    margin-top: 2em;
}

/*-------------------- AGREGAR Y EDITAR HORARIOS -----------------------*/

.contenedor-agregar-horario {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4%;
}

.container table {
    width: 900px;
    margin-bottom: 20px;
    border-collapse: collapse;
}

.container .tabla-agregar-horario{
    background-color: white;
    margin-top: 4em;
    width: 100%;
}

.container .tabla-listado{
    background-color: white;
}

.container thead th {
    background-color: var(--AZUL_OSCURO);
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 18px;
}

.container tbody tr td {
    text-align: center;
    padding: 10px;
    vertical-align: middle;
    color: #626262;
}

.container .form-select, .form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--AZUL_OSCURO);
    border-radius: 5px;
    font-size: 16px;
}

.container .form-select:focus, .form-control:focus {
    border-color: var(--VERDE_AGUA);
    box-shadow: 0 0 5px rgba(56, 181, 169, 0.5);
    outline: none;
}

.container .btn-guardar{
    background-color: var(--VERDE_AGUA);
    transition: all .3s;
    color: white;
    font-weight: 500;
}


.container .btn-guardar:hover{
    background-color: var(--AZUL_CLARO);
    color: white;
}

.container .btn-cancelar{
    border: 2px solid var(--VERDE_AGUA);
    transition: all .3s;
}

.container .btn-cancelar a{
    color: var(--AZUL_OSCURO);
    font-weight: 500;
}

.container .btn-cancelar:hover{
    background-color: #c6c6c6;
}

.container .contenedor-volver-atras{
    display: flex;
    gap: 7px;
    align-items: center;
    justify-content: center;
    width: 10em;
    background-color: var(--AZUL_CLARO);
    text-align: center;
    padding: 8px 10px;
    border-radius: 12px 0;
    transition: all .3s;
    cursor: pointer;
}

.container .contenedor-volver-atras:hover{
    background-color: var(--VERDE_AGUA);
}

.container .contenedor-volver-atras a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.container .contenedor-volver-atras i{
    color: white;
    font-size: 20px;
}