/* VARIABLES */

:root { /*es para no tener que escribir los códigos de color en cada propiedad*/
    --AZUL_OSCURO: #0a3768;
    --AZUL_CLARO: #165bba;
    --VERDE_AGUA: #38b5a9;
    --DEGRADADO: linear-gradient(90deg, var(--VERDE_AGUA), var(--AZUL_CLARO));
    --DEGRADADOREVES: linear-gradient(90deg, var(--AZUL_CLARO), var(--VERDE_AGUA));
}

/*ESTILOS PREESTABLECIDOS EN CLASES. Para usarlos, agregar el nombre de la clase al elemento HTML que quieras*/

.sombra{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}


/* Estilo para la página en general */
body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    min-height: 100vh; /*para que el body siempre ocupe toda la vista de la pantalla, como mínimo*/
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="%2338b5a9" fill-opacity="0.1" d="M0,0L120,26.7C240,53,480,107,720,112C960,117,1200,75,1320,53.3L1440,32L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path></svg>');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.contenedor h1 {
    margin: 2% 0 4% 0;
    color: var(--AZUL_OSCURO);
    font-weight: 650;
}

.contenedor .btn-agregar {
    max-width: 250px;
    background-color: var(--AZUL_CLARO);
    padding: 8px 15px;
    border-radius: 25px 0 25px 0;
    transition: all .3s;
    font-weight: 500;
    color: white;
}

.contenedor .btn-agregar:hover {
    background-color: var(--VERDE_AGUA);
}

.contenedor .btn-editar{
    background-color: var(--AZUL_CLARO);
    transition: all .3s;
    color: white;
    font-weight: 500;
}

.contenedor .btn-editar:hover{
    background-color: var(--VERDE_AGUA);
}

.contenedor .btn-eliminar{
    border: 1px solid var(--AZUL_OSCURO);
}

.contenedor .btn-eliminar:hover{
    background-color: #bc062d;
    color: white;
}

.contenedor thead tr th {
    background-color: var(--VERDE_AGUA);
    color: white;
    font-size: 17px;
    font-weight: 600;
}



/*CONTENEDOR AGREGAR PACIENTE -------------------------*/

.contenedor-agregar-paciente{
    width: 1500px !important; 
    margin: 0 auto !important;
}

.contenedor-agregar-paciente .tabla-agregar{
    width: 100% !important;
    margin-top: 20px;
    border-collapse: collapse;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}