/* VARIABLES */

:root { /*es para no tener que escribir los códigos de color en cada propiedad*/
    --AZUL_OSCURO: #0a3768;
    --AZUL_CLARO: #165bba;
    --VERDE_AGUA: #38b5a9;
    --DEGRADADO: linear-gradient(90deg, var(--VERDE_AGUA), var(--AZUL_CLARO));
    --DEGRADADOREVES: linear-gradient(90deg, var(--AZUL_CLARO), var(--VERDE_AGUA));
    --COLOR-LINEA: #d7d7d7;
    --COLOR-MENU-HOVER:  #e6e6e6;
    --COLOR-MENU-TEXTO-HOVER: #272727;
    --COLOR-BARRA-LATERAL: #fff;
    --COLOR-BARRA-INFO: #0a3768;
    --COLOR-FONDO-BOTON: #0a3768;
    --COLOR-SWITCH-BASE:#d7d7d7; 
    --COLOR-SWITCH-CIRCULO: #fff;
    --COLOR-FONDO-USUARIO: #d7d7d7;
    --COLOR-ICONO-USUARIO: #656565;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.dark-mode{
    --COLOR-BARRA-LATERAL: #292929;
    --AZUL_OSCURO: #fff;
    --VERDE_AGUA: #38b5a9;
    --COLOR-LINEA: white;
    --COLOR-MENU-HOVER:  #e6e6e6;
    --COLOR-MENU-TEXTO-HOVER: #272727;
    --COLOR-BARRA-INFO: #fff;
    --COLOR-FONDO-BOTON: #165bba;
    --COLOR-SWITCH-BASE: #38b5a9; 
    --COLOR-SWITCH-CIRCULO: white;
    --COLOR-FONDO-USUARIO: #d7d7d7;
    --COLOR-ICONO-USUARIO: #656565;
}


/*GENERAL PARA TODOS LOS SPANS*/
.barra-lateral span{
    margin-left: 7px;
    opacity: 1;
    transition: opacity .3s ease, width .3s ease;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    white-space: nowrap;
}

body{
    height: 100vh;
    width: 100%;
}

.barra-lateral{
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.2);
    width: 250px;
    height: 100%;
    padding: 20px 15px;
    background-color: var(--COLOR-BARRA-LATERAL);
    transition: width .5s ease, background-color .3s ease;
}

.mini-barra-lateral{
    width: 85px;
}

.barra-lateral .logo{
    width: 100%;
    height: 50px;
    display: flex;
    gap: .5em;
    align-items: center;
    overflow: hidden;
    margin-bottom: 40px;
}

.barra-lateral .logo svg{
    min-width: 50px;
    height: 100%;
    cursor: pointer;
    color: var(--AZUL_OSCURO) !important;
}

.logo svg path, .logo svg circle {
    fill: var(--AZUL_OSCURO); 
}

.barra-lateral .logo span{
    color: var(--AZUL_OSCURO);
    text-align: left;
    font-weight: 700;
}

.barra-lateral span.oculto{
    opacity: 0;
    width: 0;
    margin: 0;
}


.barra-lateral .boton{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    background-color: var(--COLOR-FONDO-BOTON);
    color: white;
    margin-bottom: 20px;
}

.barra-lateral .boton i{
    min-width: 30px;
}


/*-----------------------menú navegación -----------------------*/

.barra-lateral .navegacion ul{
    padding: 0;
}

.barra-lateral .navegacion li{
    list-style: none;
    display: flex;
    margin-bottom: 5px;
}

.barra-lateral .navegacion li a{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    color: var(--AZUL_OSCURO);
    text-align: center;
}

.barra-lateral .navegacion li a:hover{
    background-color: var(--COLOR-MENU-HOVER) ;
    color: var(--COLOR-MENU-TEXTO-HOVER);
}

.barra-lateral .navegacion li a i{
    min-width: 50px;
    font-size: 20px;
}

.barra-lateral .linea{
    width: 100%;
    height: 2px;
    background-color: var(--COLOR-LINEA);
}


/*------------- MODO OSCURO -----------------------*/

.barra-lateral .modo-oscuro{
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.barra-lateral .modo-oscuro .info{
    width: 150px;
    height: 45px;
    display: flex;
    align-items: center;
    overflow: hidden;
    color: var(--COLOR-BARRA-INFO);
}

.barra-lateral .modo-oscuro .info i{
    text-align: center;
    width: 50px;
    font-size: 20px;
}

.barra-lateral .modo-oscuro .switch{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 7px;
    min-width: 60px;
    height: 45px;
    cursor: pointer;
}

.barra-lateral .modo-oscuro .base{
    position: relative;
    display: flex;
    align-items: center;
    width: 35px;
    height: 20px;
    background-color: var(--COLOR-SWITCH-BASE);
    border-radius: 50px;
}

.barra-lateral .modo-oscuro .circulo{
    position: absolute;
    width: 18px;
    height: 90%;
    background-color: var(--COLOR-SWITCH-CIRCULO);
    border-radius: 50%;
    left: 2px;
    transition: left .5s ease;
}

.barra-lateral .modo-oscuro .circulo.prendido{
    left: 15px;
}


/*USUARIO*/

.barra-lateral .usuario{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 45px;
    margin-top: 85%;
}

.barra-lateral .usuario .contenedor-icono-usuario{
    width: 40px;
    background-color: var(--COLOR-FONDO-USUARIO);
    border-radius: 50%;
    height: 40px;
    text-align: center;
    align-content: center;
    min-width: 40px;
}

.barra-lateral .usuario .contenedor-icono-usuario i{
    font-size: 20px;
    color: var(--COLOR-ICONO-USUARIO);
}


.barra-lateral .usuario .info-usuario{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--AZUL_OSCURO);
    overflow: hidden;
}

.barra-lateral .usuario .nombre-email{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.barra-lateral .usuario .nombre-email .nombre{
    font-size: 15px;
    font-weight: 600;
}

.barra-lateral .usuario .nombre-email .email{
    font-size: 10px;
}

.barra-lateral .usuario i{
    font-size: 20px;
    color: var(--AZUL_OSCURO);
}