<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centro Médico Villarino</title>
    <link rel="stylesheet" href="css/styles.css">

    <!-- Tipografía "Montserrat" de Google Fonts que vamos a usar en todo el sitio -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
    
    <!-- Menú de navegación -->
    <header>
        <div class="header-logo"></div>

        <ul class="menu-navegacion">
            <li><a href="#">Inicio</a></li>
            <li><a href="nosotros.ejs">Nosotros</a></li>
            <li><a href="#">Profesionales</a></li>
            <li><a href="#">Coberturas</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>

        <div class="menu-pedir-turno"><a href="#">Pedir Turno</a></div>
        
    </header>

    <!-- Carrusel de Bienvenida con datos del Centro Médico -->
    <!-- <section class="carrusel-bienvenida">
        <article>
            <div>
                <h2>Bienvenidos al Centro <br> Médico Villarino</h2>
            </div>
        </article>
    </section> -->

</body>
</html>