<!--login.ejs-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Pantalla Login</h1>

    <label>Usuario</label>
    <input type="text" id="usuario_email">

    <label>Password</label>
    <input type="password" id="usuario_password">

    <button class="enviar">Enviar datos</button>

    <script type="text/javascript">
        const inputEmail = document.querySelector("#usuario_email");
        const inputPassword = document.querySelector("#usuario_password");
        const buttonEnviar = document.querySelector(".enviar");

        buttonEnviar.addEventListener("click", async () => {
            const resultado = await fetch("/login", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json", //permite saber q tipo de dato voy a enviar/recibir. Si no controlo esto, voy a tener errores. El encargado de decir q tipo de dato voy a enviar/recibir content-type 
                },
                body: JSON.stringify({ //para enviar json tengo que convertir un elemento javascript a json. Tengo q recibir el objeto q queremos convertir
                    email: inputEmail.value, //input email es un objeto. Al ser objeto tienen diferentes propiedades dentro. Poniendo el .value me aseguro q me devuelva ese valor
                    password: inputPassword.value // input password tambien es un objeto
                }),
            });
            const data = await resultado.json();
            if (data.error == 1) {
                alert ("Usuario o contraseña incorrecto");
            } else {
                alert ("Login correcto");
                window.location.href = "/usuarios/home"; //PARA REDIRIGIR A UNA PÁGINA DESPUÉS DE QUE SE LOGRÓ INGRESAR
            }
        });
    </script>
</body>
</html>