<!--login.ejs-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/public/css/login.css">
    <!-- Tipografía "Montserrat" de Google Fonts que vamos a usar en todo el sitio -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="icon" href="/public/img/Icono redondeado CMV .png" type="image/x-icon"> <!--icono al lado del nombre del documento en la página-->
</head>
<body>
    <div class="contenedor-login"> 
            <h1>Login</h1> 
            
            <label>Usuario</label>
            <div class="contenedor-input"> 
                <input type="text" id="usuario_email" placeholder="ingrese su email" minlength="6" required>
            </div>

            <label>Password</label>
            <div class="contenedor-input">
                <input type="password" id="usuario_password" placeholder="ingrese su contraseña" minlength="3" required>
            </div>
            <button type="submit" class="enviar" value="login">Ingresar</button>
    </div>

    <script type="text/javascript">
        const inputEmail = document.querySelector("#usuario_email");
        const inputPassword = document.querySelector("#usuario_password");
        const buttonEnviar = document.querySelector(".enviar");

        buttonEnviar.addEventListener("click", async () => {
            const resultado = await fetch("/login", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json", //permite saber q tipo de dato voy a enviar/recibir. Si no controlo esto, voy a tener errores. El encargado de decir q tipo de dato voy a enviar/recibir content-type 
                },
                body: JSON.stringify({ //para enviar json tengo que convertir un elemento javascript a json. Tengo q recibir el objeto q queremos convertir
                    email: inputEmail.value, //input email es un objeto. Al ser objeto tienen diferentes propiedades dentro. Poniendo el .value me aseguro q me devuelva ese valor
                    password: inputPassword.value // input password tambien es un objeto
                }),
            });

            const data = await resultado.json();

            if (data.error === 1) {
                alert ("Usuario o contraseña incorrecto");
                location.href = "/login"; //recarga la página
            } else {
                window.location.href = "/panelSecretaria"; //PARA REDIRIGIR A UNA PÁGINA DESPUÉS DE QUE SE LOGRÓ INGRESAR (Esto cambia con el panel)
            }
        });
    </script>
</body>
</html>