<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centro Médico Villarino</title>
    <link rel="stylesheet" href="style.css">

    <!-- Tipografía "Montserrat" de Google Fonts que vamos a usar en todo el sitio -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
    
    <!-- Menú de navegación -->
    <header>
        <div class="header-logo"></div>

        <ul class="menu-navegacion">
            <li><a href="#">Inicio</a></li>
            <li><a href="./nosotros.ejs">Nosotros</a></li>
            <li><a href="#">Profesionales</a></li>
            <li><a href="#">Coberturas</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>

        <div class="menu-pedir-turno"><a href="#">Pedir Turno</a></div>
        
    </header>

    <!-- Sección de información sobre el Centro Médico -->
    <section class="nosotros">
        

        <div class="container-imagen">
            <h1>Sobre Nosotros:   </h1>
            <p>Imágen del centro y breve descripción</p>
        </div>

        <!-- Esquema de proceso -->
        <div class="container-proceso">
            <div class="item-proceso">Misión</div>
            <div class="item-proceso">Visión</div>
            <div class="item-proceso">Valores</div>
            <div class="item-proceso">Objetivos</div>

            <div class="imagen-centro">
                <img src="img/logo-recortado.png" alt="Imagen Central">
            </div>

        </div>
        

    </section>

</body>
</html>