<footer>
    <div class="container-footer">
        <div class="logo-redes">
            <div class="logo-footer">
                <img src="/public/img/Logo Blanco.png">
            </div>
            <div class="redes-footer">
                <div class="iconos-redes">
                    <a href="https://www.instagram.com/centromedicovillarino?igsh=bnhsYXR4eDh5eW91" target="blank" class="icono-red instagram">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="https://www.facebook.com/profile.php?id=61557067552824" target="blank" class="icono-red facebook">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                    <a href="https://wa.me/2346426515" target="blank" class="icono-red WhatsApp">
                        <i class="fa-brands fa-whatsapp"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="info-general">
            <h3 class="titulo-footer">Centro Médico Villarino</h3>
            <div class="texto">
                <p>Nos dedicamos a brindar atención médica de calidad a nuestros pacientes. Contamos con un equipo de profesionales altamente capacitados y una amplia variedad de servicios médicos para cuidar de tu salud. ¡Te esperamos!</p>
                <p><i class="fa-regular fa-location-dot"></i> Dirección: Lamadrid 29, Chivilcoy, Bs As</p>
            </div>
        </div>

        <div class="contacto-footer">
            <h3 class="titulo-footer">Contactanos</h3>
            <p><a href="https://wa.me/2346426515" target="blank" class="link-contacto"><i class="fa-brands fa-whatsapp"></i> WhatsApp: 2346 426515</a></p>
            <p><i class="fa-regular fa-phone"></i> Teléfono: 2346 426515</p>
            <p><a href="mailto:centromedicovillarino@gmail.com" class="link-contacto"><i class="fa-regular fa-envelope"></i> Email: centromedicovillarino@gmail.com</a></p>
        </div>
    </div>
</footer>