<header class="sombra">
    <div class="logo"></div>

    <nav>
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="/nosotros">Nosotros</a></li>
            <li><a href="/profesionales">Profesionales</a></li>
            <li><a href="/coberturas">Coberturas</a></li>
            <li><a href="/contacto">Contacto</a></li>
        </ul>
    </nav>


    <a href="#" class="menu-pedir-turno boton">Pedir Turno</a>
    
</header>