<!DOCTYPE html>
<html lang="en">
<!--HEAD-->
<%- include('../commons/head-web') %>
<body>
    <!-- Menú de navegación -->
    <%- include('../commons/menu-web') %>
        
        <div class="carrusel-contacto">
            <h1>Contactanos   </h1>
            <p>Imágen del centro y breve descripción</p>
            <img src="/public/img/carrusel-contacto.webp" alt="Imagen del Centro">
        </div>
    <!-- Sección de contacto -->
    <section class="contacto">
        <h2>Dejanos tu consulta</h2>

        <form action="/enviar-mensaje" method="POST" class="form-contacto">
            <!-- Campos de nombre y correo -->
            <div class="campos-contacto">
                <div class="campo-datos">
                    <label for="nombre">Nombre y Apellido</label>
                    <input type="text" id="nombre" name="nombre" required>
                </div>
                <div class="campo-datos">
                    <label for="correo">Correo</label>
                    <input type="email" id="correo" name="correo" required>
                </div>
            </div>

            <div class="campo-grande">
                <label for="mensaje">Motivo de la consulta</label>
                <textarea id="mensaje" name="mensaje" rows="5" required></textarea>
             </div>

            <div class="boton-enviar">
                <button type="submit">Enviar</button>
            </div>
        </form>
    </section>

    <form action="pedirTurno.html" method="GET" class="form-turno">
        <div class="container-reserva sombra">
            <h2>Ahora podes reservar tu turno online</h2>
            <button type="submit" class="boton-turno">Pedir Turno</button>
        </div>

        <div class="container-turno sombra">
            <h3>Encontranos en</h3>
            <div class="iconos-redes-contacto">
                <div class="iconos-container">
                    <a href="https://wa.me/2346426515" target="blank" class="icono-red-contacto whatsapp">
                        <i class="fa-brands fa-whatsapp"></i>
                    </a>
                    <a href="https://www.instagram.com/centromedicovillarino" target="blank" class="icono-red-contacto instagram">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="https://www.facebook.com/profile.php?id=61557067552824" target="blank" class="icono-red-contacto facebook">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                </div>
            </div>
        </div>
    </form>



    <!--FOOTER-->
    <%- include('../commons/footer-web') %>
    
</body>