<!DOCTYPE html>
<html lang="en">
<!--HEAD-->
<%- include('../commons/head-web') %>
<body>
    
    <!-- Menú de navegación -->
    <%- include('../commons/menu-web') %>

    <!-- Sección de información sobre el Centro Médico -->
    <section class="nosotros">

        <div class="container-imagen">
            <h1>Sobre Nosotros:</h1>
            <p>Imágen del centro y breve descripción</p>
            <img src="/public/img/nosotros-medicos.jpg" alt="Imagen del Centro">
        </div>
    
        <!-- Esquema de proceso -->
        <div class="container-proceso">
            <div class="item-proceso">
                <i class="fa-regular fa-eye"></i>
                <div class="info-proceso info-1">
                    <h3>Visión</h3>
                    <p>Nuestra visión es ser el centro de referencia en atención médica integral
                        en Chivilcoy, reconocidos por nuestra calidad, innovación y compromiso.
                    </p>
                </div>
            </div>
    
            <div class="item-proceso">
                <i class="fa-regular fa-hand-holding-heart"></i>
                <div class="info-proceso info-2">
                    <h3>Confianza</h3>
                    <p>Construimos relaciones basadas en la transparencia y el respeto,
                        garantizando que cada paciente se sienta seguro y cuidado en todo momento.
                    </p>
                </div>
            </div>
    
            <div class="item-proceso">
                <i class="fa-regular fa-handshake-simple"></i>
                <div class="info-proceso info-3">
                    <h3>Objetivo</h3>
                    <p>Nuestro objetivo es mejorar la calidad de vida de nuestra comunidad a través
                        de servicios médicos innovadores y accesibles, siempre enfocados
                        en el bienestar integral.
                    </p>
                </div>
            </div>
    
            <div class="item-proceso">
                <i class="fa-regular fa-bullseye-arrow"></i>
                <div class="info-proceso info-4">
                    <h3>Misión</h3>
                    <p>Nuestra misión es ofrecer atención médica accesible y de excelencia, promoviendo
                        la salud y el bienestar de nuestra comunidad. Nos esforzamos por ser un aliado
                        confiable en la salud de nuestros pacientes.
                    </p>
                </div>
            </div>
    
            <div class="imagen-centro">
                <img src="/public/img/logo-recortado.png" alt="Imagen Central">
            </div>
        </div>
    
        <!-- Container fotos -->
        <div class="container-img">
            <div class="img1">
                <img src="/public/img/carrusel-bienvenida-3.jpg" alt="Imagen 1">
            </div>
            <div class="img2">
                <img src="/public/img/carrusel-bienvenida-3.jpg" alt="Imagen 2">
            </div>
            <div class="img3">
                <img src="/public/img/carrusel-bienvenida-3.jpg" alt="Imagen 3">
            </div>
            <div class="img4">
                <img src="/public/img//carrusel-bienvenida-3.jpg" alt="Imagen 4">
            </div>
        </div>
    
        <div class="container-mapa">
            <iframe 
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d818.0726713749121!2d-60.02252270000001!3d-34.89915399999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bea534817abb7f%3A0x6d1a9c6534364092!2sConsultorio%20Medico%20Villarino!5e0!3m2!1ses!2sar!4v1725455908050!5m2!1ses!2sar" 
                width="400" 
                height="300">
            </iframe> <!-- Para traer páginas externas usamos iframe -->
            <div class="container-info">
                <h2>Información del centro:</h2>
                <p><i class="fa-regular fa-location-dot"></i> Dirección: Lamadrid 29, Chivilcoy, Provincia de Bs As</p>
                <p><i class="fa-regular fa-phone"></i> Teléfono: 2346 426515</p>
                <p><i class="fa-regular fa-envelope"></i> Email: centromedicovillarino@gmail.com</p>
            </div>
        </div>
    
    </section>
    
    <!--FOOTER-->
    <%- include('../commons/footer-web') %>

</body>
</html>