<!DOCTYPE html>
<html lang="en">
<!--HEAD-->
<%- include('../commons/head-web') %>

<body>

    <!-- Menú de navegación -->
    <%- include('../commons/menu-web') %>

    <section class="pedir-turno">
    <h1>AGENDÁ TU TURNO ONLINE</h1>
    </section>

    <section class="container-filtros">
        <div class="filtros">
            <label for="especialidad">Especialidad</label>
            <select id="especialidad" name="especialidad" required>
              <option value="" selected>Ninguna</option>
              <option>Medicina clínica-Dr.Pablo Urga</option>
              <option>Oftalmología-Dr.Esteban Mazzaro</option>
              <option>Neurocirugía-Dr Julio Sosa</option>
              <option>Ginecología-Dr.Rodrigo Zalabardo</option>
              <option>Cardiología-Dr. Gustavo Iralde</option>
              <option>Electrocardiograma</option>
              <option>Cirugia general-Dr.Jorge Biffis</option>
              <option>Nutrición-Lic.Magdalena Bauschen</option>
            </select>
          </div>
        <div class="filtros">
            <label for="cobertura">Cobertura</label>
            <select id="cobertura" name="cobertura" required>
              <option value="" selected>Ninguna</option>
              <option>OSDE</option>
              <option>IOMA</option>
              <option>SWISS MEDICAL</option>
              <option>GALENO</option>
              <option>MEDICUS</option>
              <option>LA PEQUEÑA FAMILIA</option>
              <option>OSFATLYF</option>
              <option>OSPE</option>
              <option>CASA</option>
              <option>JERARQUICOS SALUD</option>
              <option>OSDOP</option>
              <option>COMEI</option>
              <option>OSPIL</option>
              <option>AVALIAN</option>
              <option>MEDIFE</option>
              <option>CENTRO MÉDICO PUEYRREDÓN</option>
              <option>OSSEG</option>
              <option>COLEGIO DE ESCRIBANOS</option>
              <option>OSALARA</option>
              <option>OSPRERA</option>
            </select>
          </div>
          <div class="filtros">
            <label for="fecha">Fecha</label>
            <input type="date" id="fecha" name="fecha" required>
          </div>

          <button type="submit" class="btn-enviar">Guardar Turno</button>
    </section>


    <!--FOOTER-->
    <%- include('../commons/footer-web') %>
    
</body>