<!DOCTYPE html>
<html lang="en">
<!--HEAD-->
<%- include('../commons/head-web') %>

<body>

    <!-- Menú de navegación -->
    <%- include('../commons/menu-web') %>

     <!--primer paso-->

     <div class="container-pasoUno">
      <h1>Datos del Turno</h1>

      <!-- Diagrama de Proceso -->
      <div class="diagrama-proceso">
          <div class="paso">
              <div class="circulo">1</div>
              <span>Datos del turno</span>
          </div>
          <div class="flecha"></div>
          <div class="paso">
              <div class="circulo">2</div>
              <span>Datos personales</span>
          </div>
          <div class="flecha"></div>
          <div class="paso">
              <div class="circulo">3</div>
              <span>Revisión y confirmación</span>
          </div>
      </div>
      

      <div class="selects">
          <div class="filtros">
              <label for="obra-social">Cobertura:</label>
              <select id="obra-social">
                  <option value="">Seleccionar</option>
                  <option value="obra1">IOMA</option>
                  <option value="obra2">OSDE</option>
                  <option value="obra3">OSPE</option>
              </select>
          </div>
  
          <div class="filtros">
              <label for="especialidad">Especialidad:</label>
              <select id="especialidad">
                  <option value="">Seleccionar</option>
                  <option value="cardiologia">Cardiología</option>
                  <option value="oftalmologia">Oftalmología</option>
                  <option value="dermatologia">Dermatología</option>
              </select>
          </div>
  
          <div class="filtros">
              <label for="medico">Médico:</label>
              <select id="medico">
                  <option value="">Seleccionar</option>
                  <option value="medico1">Dr. Esteban Mazzaro</option>
                  <option value="medico2">Dra. Magdalena Bauschen</option>
                  <option value="medico3">Dr. Jorge Biffis</option>
              </select>
          </div>
      </div>

      <div class="medico">
          <div class="medico-info">
              <img src="/public/img/medico-1.png" alt="Dr.Gustavo Iralde" class="foto-medico">
              <div class="detalles">
                  <h3>Dr. Gustavo Iralde</h3>
                  <p>Especialidad: Cardiología</p>
                  <p>Descripción: Especialista en enfermedades cardíacas, con más de 10 años de experiencia.</p>
              </div>
          </div>
          <div class="turnos-disponibles">
              <div class="turno disponible">09:00</div>
              <div class="turno no-disponible">10:00</div>
              <div class="turno disponible">11:00</div>
              <div class="turno disponible">12:00</div>
              <div class="turno no-disponible">14:00</div>
          </div>
      </div>
      <div class="medico">
          <div class="medico-info">
              <img src="/public/img/medico-3.png" alt="Dr.Esteban Mazzaro" class="foto-medico">
              <div class="detalles">
                  <h3>Dr. Esteban Mazzaro</h3>
                  <p>Especialidad: Oftalmología</p>
                  <p>Descripción: Especialista en oftalmología, con más de 10 años de experiencia.</p>
              </div>
          </div>
          <div class="turnos-disponibles">
              <div class="turno disponible">09:00</div>
              <div class="turno no-disponible">10:00</div>
              <div class="turno disponible">11:00</div>
              <div class="turno disponible">12:00</div>
              <div class="turno no-disponible">14:00</div>
          </div>
      </div>
      <button class="boton-siguiente">Siguiente</button>
  </div>
  
  
  <!--Segundo paso-->
<div class="container-pasoDos">
  <h1>Datos Personales</h1>
  
  <!-- Diagrama de Proceso -->
  <div class="diagrama-proceso">
    <div class="paso">
        <div class="circulo">1</div>
        <span>Datos del turno</span>
    </div>
    <div class="flecha"></div>
    <div class="paso">
        <div class="circulo">2</div>
        <span>Datos personales</span>
    </div>
    <div class="flecha"></div>
    <div class="paso">
        <div class="circulo">3</div>
        <span>Revisión y confirmación</span>
    </div>
</div>
 
  <div class="contenedor-detalle-formulario">
    <!--Detalles del médico -->
    <div class="columna-izquierda">
      <div class="detalle-medico">
        <h2>Fecha</h2>
        <p>Viernes 4 de octubre, 09:15</p>
        <button class="modificar-fecha">Modificar fecha</button>
        
        <h2>Médico</h2>
        <div class="info-medico">
          <img src="/public/img/medico-1.png" alt="Dr. Gustavo Iralde" class="foto-medico">
          <div class="detalles-medico">
            <h3>Dr. Gustavo Iralde</h3>
            <p>Especialidad: Cardiólogo</p>
            <p>Descripcion: Especialista en enfermedades cardíacas, con más de 10 años de experiencia </p>
          </div>
        </div>
      </div>
    </div>
    
    <!-- datos del cliente -->
    <div class="columna-derecha">
      <form action="/confirmacion" method="POST">
        <div class="formulario-grupo">
          <label for="obra-social">Obra Social</label>
          <select id="obra-social" name="obraSocial" required>
            <option value="OSDE">OSDE</option>
            <option value=" IOMA">IOMA</option>
            <option value="Swiss Medical">Swiss Medical</option>
            <option value="OSPE">OSPE</option>
          </select>
        </div>

        <div class="formulario-grupo">
          <label for="nombre">Nombre:</label>
          <input type="text" id="nombre" name="nombre" required>
        </div>

        <div class="formulario-grupo">
          <label for="apellido">Apellido:</label>
          <input type="text" id="apellido" name="apellido" required>
        </div>

        <div class="formulario-grupo">
          <label for="dni">DNI:</label>
          <input type="text" id="dni" name="dni" required>
        </div>

        <div class="formulario-grupo">
          <label for="telefono">Teléfono:</label>
          <input type="tel" id="telefono" name="telefono" required>
        </div>

        <div class="formulario-grupo">
          <label for="correo">Correo electrónico:</label>
          <input type="email" id="correo" name="correo" required>
        </div>

        <button type="submit" class="boton-confirmar">Confirmar Turno</button>
      </form>
    </div>
  </div>
</div>
  

    <!--FOOTER-->
    <%- include('../commons/footer-web') %>
    
</body>