<!DOCTYPE html>
<html lang="en">
<!--HEAD-->
<%- include('../commons/head-web') %>

<body>
    <!-- Menú de navegación -->
    <%- include('../commons/menu-web') %>


    <!--FOOTER-->
    <%- include('../commons/footer-web') %>
    
</body>
</html>